@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import './common/styles/variables';

body {
  font-family: 'Nunito', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: inherit;
  }
}

#root {
  padding-top: $header-height;
  padding-bottom: $footer-height;
  position: relative;
  min-height: 100vh;
}

#content {
  padding: 3rem 0;
}

.rounded {
  border-radius: 1rem !important;
}

.text-left {
  text-align: left;
}

#footer.disable-footer {
  display: none;
}

#content.disable-footer {
  padding: 0;
}

#root.disable-footer {
  padding: 0;
}

#header.static-header {
  position: static;
}