@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  --footer-height: 96px;
  --header-height: 56px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
}

#root {
  padding-top: var(--header-height);
  padding-bottom: var(--footer-height);
  position: relative;
  min-height: 100vh;
}

#content{
  padding: 3rem 0;
}

.rounded {
  border-radius: 1rem !important;
}

.text-left {
  text-align: left;
}