@import '../../../common/styles/colors';

.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 0.5rem 0;
  color: inherit;
}

.input {
  border: none;
  outline: none;
  background-color: inherit;
}