@import '../../../common/styles/colors';

.container {
  width: 100%;
  display: flex;
  align-items: stretch;
  padding: 0.5rem 0;
  color: inherit;
}

.container-light:focus-within {
  outline: 1px solid $light_main_color;
}

.container-dark:focus-within {
  outline: 1px solid $dark_main_color;
}

.input {
  border: none;
  outline: none;
  background-color: inherit;
}