@import '../../common/styles/colors';

.toggle_button {
  align-self: center;
  border: none;
  padding: none;
  background-color: transparent;
  >* {
    font-size: 1.7rem;
    text-align: center;
  }
}
