@import '../../../common/styles/functions';

.header {
  $line-height: 19px;

  font-size: 1.25rem;
  padding-bottom: 1.25rem;
  line-height: $line-height;

  @include multiline-overflow(1, $line-height);
}