@import '../../common/styles/colors';

.compact_avatar {
  width: 38px;
  border: 2px solid;
  cursor: pointer;
}

.avatar {
  width: auto;
}

.dark {
  background-color: $light_active_color;
  border-color: $dark_accent_color;
}

.light {
  background-color: $dark_active_color;
  border-color: $light_accent_color;
}