@import '../../common/styles/colors';

$size: 38px;

.compact_avatar {
  height: $size;
  width: $size;
  border: 1px solid;
  cursor: pointer;
}

.avatar {
  max-width: 100%;
}

.dark {
  background-color: $light_active_color;
  border-color: $dark_accent_color;
}

.light {
  background-color: $dark_active_color;
  border-color: $light_accent_color;
}