.image {
  max-width: 100%;
  max-height: 100%;
  border-radius: .5em;
}

.container {
  position: relative;
  width: fit-content;
  background-color: transparent !important;
}

.chevron {
  opacity: 0.5;

  &:hover {
    opacity: 0.9;
  }
}

.header {
  font-size: 0.75rem;

  @media screen and (min-width: 576px) {
    font-size: 1rem;
  }
}

// [data-carousel="carousel-Popular"].hide,
// [data-carousel="carousel-New"].hide,
// [data-carousel="carousel-HotNew"].hide {
//   opacity: 0;
// }

// [data-carousel="carousel-Popular"],
// [data-carousel="carousel-New"],
// [data-carousel="carousel-HotNew"] {
//   opacity: 1;
//   transition: opacity 0.5s linear;
// }