@import '../../common/styles/colors';

.button {
  width: 3.5rem;
  height: 3.5rem;
  padding: 0;
  border-radius: 1rem;
  font-size: 1.5rem;
}

.dark {
  border: 1px solid rgba($light_accent_color, 0.03);
}

.light {
  border: 1px solid rgba($dark_accent_color, 0.1);
}

.position {
  z-index: 100000;
  position: fixed;
  bottom: 5vw;
  right: 5vw;
}