@import '../../../common/styles/colors';

.tags_container {
  width: 100%;
  display: flex;
  align-items: center;
}

.visible_container {
  white-space: nowrap;
  overflow: hidden;
}

.conatiner {
  &>* {
    margin-bottom: 0.5rem;
  }
}

.toggle {
  $btn-size: 30px;
  width: $btn-size;
  height: $btn-size;
  padding: 0 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  border: none !important;
}

.toggle.toggle-light {

  &:hover,
  &:active,
  &:focus {
    background-color: $light_main_color  !important;
  }
}

.toggle.toggle-dark {

  &:hover,
  &:active,
  &:focus {
    background-color: $dark_main_color  !important;
  }
}

%default-tag {
  min-width: 100px !important;
  font-size: 0.8rem !important;
}

.tag {
  @extend %default-tag;
  box-shadow: none !important;
}

.overflow_tag {
  @extend %default-tag;
  text-align: center !important;
}