.icon_button {
  align-self: center;
  border: none;
  padding: 0;
  background-color: transparent;

  >* {
    text-align: center;
  }
}

.header {
  @media screen and (max-width: 1200px) {
    font-size: 1.5rem;
  }
}