@import './colors';

.dark {
  color: $light_main_color  !important;

  ::selection {
    background-color: $dark_active_color;
  }
}

.dark_bg {
  background-color: $dark_main_color  !important;
}

.dark_accent_bg {
  background-color: $dark_accent_color  !important;
}

.dark_inverted_accent_bg {
  background-color: $light_accent_color  !important;
}

.light {
  color: $dark_main_color  !important;

  ::selection {
    background-color: $light_active_color;
  }
}

.light_bg {
  background-color: $light_main_color  !important;
}

.light_accent_bg {
  background-color: $light_accent_color  !important;
}

.light_inverted_accent_bg {
  background-color: $dark_accent_color  !important;
}

.light_hovered:hover,
.light_hovered:active {
  color: $dark_active_color  !important;
}

.dark_hovered:hover,
.dark_hovered:active {
  color: $light_active_color  !important;
}

.light_inverted_hovered:hover,
.light_inverted_hovered:active {
  color: $light_active_color  !important;
}

.dark_inverted_hovered:hover,
.dark_inverted_hovered:active {
  color: $dark_active_color  !important;
}

.light_inverted_hovered_bg:hover,
.light_inverted_hovered_bg:active {
  background-color: $dark_active_color  !important;
  color: $light_main_color  !important;

  &>a:hover,
  &>a:active {
    color: $light_main_color  !important;
  }
}

.dark_inverted_hovered_bg:hover,
.dark_inverted_hovered_bg:active {
  background-color: $light_active_color  !important;
  color: $dark_main_color  !important;

  &>a:hover,
  &>a:active {
    color: $dark_main_color  !important;
  }
}

.light_hovered_bg:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.dark_hovered_bg:hover {
  background-color: rgba(0, 0, 0, 0.1);
}