@import '../../../common/styles/functions';

.card {
  padding: 1rem;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  $line-height: 24px;
  line-height: $line-height;
  @include multiline-overflow(3, $line-height);
}