@import '../../common/styles/variables';
@import '../../common/styles/colors';
@import '../../common/styles/customBootstrap.scss';

.header {
  height: $header-height;
  text-align: center;
  font-weight: 600;
  position: fixed;
  z-index: 999;

  >div {
    height: inherit;
  }

  >*>* {
    align-self: center;
  }
}

.navbar {
  justify-content: center !important;

  >div+div {
    padding-left: 10px;
  }

  *>a>* {
    height: 100%;
    vertical-align: middle;
  }

  *>svg {
    margin-right: 6px;
  }
}
