@import '../../common/styles/variables';
@import '../../common/styles/colors';
@import '../../common/styles/customBootstrap.scss';

.header {
  font-weight: 600;

  >div {
    height: inherit;
  }

  >*>* {
    align-self: center;
  }
}

.navbar {
  >div+div {
    padding-left: 0.5rem;
  }

  *>a>* {
    height: 100%;
    vertical-align: middle;
  }
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 999;
}