@import '../../common/styles/colors';
@import '../../common/styles/functions';

$card-height: 220px;

.tags_container {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  height: $card-height;
  border: none !important;
}

.card.card-light {
  background-color: $light_accent_color ;
}

.card.card-dark {
  background-color: $dark_accent_color;
}

.image {
  height: $card-height;
  padding: 0.5rem;
  object-fit: cover;
  object-position: top;
}

.title {
  @extend %text-overflow;
}

.status {
  width: 90px;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
}

.status.status-light {
  background-color: rgba($dark_main_color, 0.1);
}

.status.status-dark {
  background-color: rgba($light_main_color, 0.1);
}

.description {
  $line-height: 24px;
  line-height: $line-height;
  @include multiline-overflow(3, $line-height);
}

.tag-light {
  background-color: $dark_active_color  !important;
}

.tag-dark {
  background-color: $light_active_color  !important;
}